yolo_inference/runs
runs/detect/
field_selection/datasets/
results/
CHE_RMA.MOV
.idea/
.ipynb_checkpoints/
sports_field_registration.ipynb
Example_inferense.ipynb
field_selection/.idea
__pycache__*/

field_selection/models_weights/detec_latest_net_G.pth
field_selection/models_weights/seg_latest_net_G.pth

yolo_inference/models_weights/yolov5l.pt

top_field/out/pretrained_init_guess/checkpoint.pth.tar
top_field/out/pretrained_loss_surface/checkpoint.pth.tar
